{% extends 'layout/base.html' %}

{% block body_content %}
    {% block navbar %}
        {% include 'layout/navbar.html' %}
    {% endblock %}

    <div class="container page-content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <span class="fa fa-volume-up"></span>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="row">
            <div class="col-md-{{ '12' if one_column else '9' }}">
                {% block content %}
                {% endblock %}
            </div>
            {% if not one_column %}
                <div class="col-md-3" id="sidebar">
                    {% block sidebar %}
                    {% endblock %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}