{% import 'macros/macros.html' as macros with context %}
{{ macros.render_user_profile_card(owner) }}


{% if followed_user_pagination.object_list|length > 0 %}
    {% call macros.render_panel_xc('TA 关注的用户') %}
        <div class="panel-body">
            {{ macros.render_user_list(followed_user_pagination.object_list, avatar_only=True) }}
        </div>
    {% endcall %}
{% endif %}

{% if follower_pagination.object_list|length > 0 %}
    {% call macros.render_panel_xc('关注 TA 的用户') %}
        <div class="panel-body">
            {{ macros.render_user_list(follower_pagination.object_list, avatar_only=True) }}
        </div>
    {% endcall %}
{% endif %}