{% extends "personal/base.html" %}

{% block extra_js %}
    <script type="text/javascript">
        seajs.use(['nowdo', '$'], function(nowdo, $){
            $(function(){
                nowdo.trigger.addToggleFollowUserTrigger('.follow-user');
            });
        });
    </script>
{% endblock %}

{% block content %}
    {{ macros.my_home_nav(owner) }}

    <div class="panel panel-default panel-content {% if extra_class %}{{ extra_class }}{% endif %}">
        <div class="panel-body">
            <form class="" action="{{ url_for('personal.reg_invitation', user_id=owner.id) }}" method="post" role="form">
                {{ form.csrf_token }}
                {{ form.receiver_id }}
            <div class="input-group">
              {{ form.email(class="form-control", style="width: 98%;") }}
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">{{ _('发送邀请邮件') }}</button>
              </span>
            </div>
            {% if form.errors.email %}
                <span class="text-danger" style="margin-left: 15px;">
                    {{ form.errors.email[0] }}
                </span>
            {% endif %}
            </form>
            {% if reg_invitation_pagination.object_list %}
            <table class="table" style="margin: 30px 0 0px 0;">
              <thead>
                <tr>
                  <th>已邀请的用户</th>
                  <th>邀请时间</th>
                </tr>
              </thead>
              <tbody>
                {% for reg_invite in reg_invitation_pagination.object_list %}
                    <tr><td>{{ reg_invite.invitee_email }}</td>
                    <td>{{ reg_invite.invite_date }}</td></tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    {{ macros.render_pagination(reg_invitation_pagination, 'personal.invitation', owner) }}

{% endblock %}