{% extends "glossary/base.html" %}

{% block content %}
    {{ macros.my_home_nav(current_user) }}

    {% call macros.render_panel_content(use_list=True) %}
{#        {{ macros.glossary_nav('glossary_table', no_gap=True) }}#}
        <ul class="list-group">
            <li class="list-group-item">
                <strong>
                    主题名称
                </strong>
                <strong class="pull-right">
                    术语个数
                </strong>
            </li>
            {% for task, glossary_count in task_pagination.object_list %}
                <li class="list-group-item">
                    <a href="{{ url_for('glossary.glossary_list', task_id=task.id) }}">
                        {{ task.name }}
                    </a>
                    <span class="pull-right">
                        {{ glossary_count }}
                    </span>
                </li>
            {% else %}
                <li class="list-group-item" style="padding: 15px;">
                    你还没有添加任何术语表
                </li>
            {% endfor %}
        </ul>
    {% endcall %}

    {{ macros.render_pagination(glossary_table_pagination, 'glossary.index') }}
{% endblock %}