{% extends 'layout/layout.html' %}


{% block content %}
    {% call macros.render_panel_content() %}
        <div class="text-center">
            <p>
                <h3>
                    你访问的页面不存在了
                </h3>
            </p>
            <p>
                <h3>
                    或许已经消失在这片森林中了……
                </h3>
            </p>
            <img src="http://www.cet.com.cn/upload/Image/2013/10/28/mrtp/1_10091673867.jpg" alt=""/>
        </div>
    {% endcall %}
{% endblock %}