{% extends 'layout/layout.html' %}
{% block content %}
    <form role="form" action="{{ url_for('group.create_topic', group_id=group.id) }}" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.title(class="form-control", placeholder="请输入标题...") }}
        </div>
        <div class="form-group">
            {{ form.content(class="form-control", rows="20", placeholder="请输入话题内容...", id='topic_editor') }}
        </div>
        <div id="error-info">
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for label, error_list in form.errors.iteritems() %}
                        <p>{{ error_list[0] }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">提交</button>
    </form>
{% endblock %}

{% block sidebar %}
    <a class="bottom-gap" href="{{ url_for('group.group_home', group_id=group.id) }}">回到：{{ group.group_name }}</a>
{% endblock %}

{% block extra_css %}
    {{ macros.require_css('summernote') }}
{% endblock %}

{% block extra_js %}
    {{ macros.require_js('summernote') }}
    <script>
        $(function(){

            function show_error(info){
                var res_alert = $('<div/>').addClass('alert alert-danger').text(info);
                $('#error-info').html(res_alert);
            }

            function clear_error(){
                $('#error-info').empty();
            }

            function sendFile(file, editor, welEditable) {
                var data = new FormData();
                data.append("file", file);
                $.ajax({
                    data: data,
                    type: "POST",
                    url: "/file/save",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(res) {
                        if(res.status == 'ok'){
                            editor.insertImage(welEditable, res.url);
                            clear_error();
                        }else{
                            show_error(res.info);
                        }
                    }
                });
            }

            $('#topic_editor').summernote({
                height: "300px",
                toolbar: [
                    ['insert', ['picture', 'link']]
                ],
                onImageUpload: function(files, editor, welEditable) {
                    var target_file = files[0];
                    if(!(/\.(gif|jpg|jpeg|png)$/i).test(target_file.name)){
                        show_error('不支持的图片格式');
                        return;
                    }
                    console.info(target_file.size)
                    if(target_file.size > 3 * 1024 * 1024){
                        show_error('文件最大不能超过3M');
                        return;
                    }
                    sendFile(files[0], editor, welEditable);
                }
            });
        });
    </script>
{% endblock %}
