{% extends "layout/layout.html" %}

{% block extra_js %}
    <script type="text/javascript">
        seajs.use(['nowdo', '$'], function(nowdo, $){
            $(function(){
                nowdo.trigger.addToggleFollowUserTrigger('.follow');
                $('.fancybox').fancybox({
                    padding: 0,
                    type: 'image',
                    helpers: {
                        overlay: {
                            locked: false
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="panel panel-default panel-content">
        <div class="panel-heading">
            <h1>
                {{ task.name }}
                <span class="topic-meta">
                    {{ task.created_date|delta }}，
                    <span class="dropdown">
                        <a data-toggle="dropdown" href="#">
                            分享
                            <i class="fa fa-share"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    微博
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    微信
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    QQ空间
                                </a>
                            </li>
                        </ul>
                    </span>
                </span>
            </h1>
        </div>
        <div class="panel-body">
            {% if task.type == 1 %}
                {% for image in task.images %}
                    <div class="img-task-item">
                    <a class="fancybox" href="{{ image.image_url }}"
                               data-fancybox-group="{{ task.id }}"
                               target="_blank">
                        <img src="{{ image.image_url }}">
                    </a>
                    </div>
                {% endfor %}
            {% elif task.type == 0 %}
                {{ task.task_content|escape_unsafe_tags|safe }}
            {% endif %}
            <div class="meta clearfix">
                {% for tag in task.tags %}
                    <a href="{{ url_for('frontend.tag_view', tag=tag.tag_name) }}" class="tag">
                        <i class="fa fa-tag"></i>
                        {{ tag.tag_name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-comment-form" id="comments">
        <div class="panel-heading">
            评论
        </div>
        <div class="panel-body">
            <form action="{{ url_for('task.create_comment', task_id=task.id) }}" method="post">
                {{ comment_form.csrf_token }}
                {{ comment_form.comment_id }}
                <div>
                    {{ comment_form.content(class='form-control', placeholder='请填入你要评论的内容...', rows='4') }}
                </div>
                <div class="clearfix">
                    <button type="submit" class="btn btn-primary pull-right">发表观点</button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default panel-comment-list">
        <div class="panel-body">
            {% if task.comments %}
                <ul class="media-list">
                    {% for c in task.comments %}
                        <li class="media media-comment" id="comment{{ c.id }}">
                            <a class="pull-left" href="{{ url_for('personal.index', user_id=c.creator_id) }}">
                                <img class="media-object" src="{{ c.creator.avatar_url(30) }}" alt="{{ c.creator.nickname }}">
                            </a>
                            <div class="media-body">
                                <div class="media-heading">
                                    <a href="{{ url_for('personal.index', user_id=c.creator_id) }}" class="author-link">
                                        {{ c.creator.nickname }}
                                    </a>
                                    <span class="pull-right">
                                        {{ c.created_date|delta }}
                                    </span>
                                </div>
                                {{ c.content }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                暂时没有评论
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% set task_creator = task.get_creator() %}
    {{ macros.render_user_profile_card(task_creator) }}
    <a href="{{ url_for('personal.published_tasks', user_id=task_creator.id) }}" class="btn btn-primary form-control bottom-gap">
        <i class="fa fa-reply"></i>
        作者更多主题
    </a>
    {% if task.is_translating %}
        <a href="{{ task.read_link() }}" class="btn btn-success form-control bottom-gap">
            <i class="fa fa-globe"></i>
            立即参与翻译
        </a>
    {% endif %}
{% endblock %}