{% extends "layout/layout.html" %}

{% block extra_js %}
    <script type="text/javascript">
        seajs.use(['nowdo', '$'], function(nowdo, $){
            $(function(){
                $('.delete-task').click(function(e){
                    e.preventDefault();
                    nowdo.confirmView.confirm({
                        content: '确定要删除该主题吗？'
                    }).onOk(function(){
                                location.href = e.target.href;
                            });
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    {{ macros.setting_nav('task_manage', group.id) }}

    {% macro render_managed_task(task, status) %}
        <li class="list-group-item">
            <a href="{{ url_for('task.manage', task_id=task.id) }}">{{ task.name }}</a>
            <div class="list-group-item-meta">
                {% if status == 0 or status == 1 %}
                    <a href="{{ url_for('task.open_task', task_id=task.id) }}">开启任务</a> |
                {% elif status == 2 %}
                    <a href="{{ url_for('task.close_task', task_id=task.id) }}">关闭任务</a> |
                {% else %}
                    <a href="{{ url_for('task.close_task', task_id=task.id) }}">继续翻译</a> |
                {% endif %}
                <a class="delete-task" href="{{ url_for('task.delete_task', task_id=task.id) }}">删除任务</a>
            </div>
        </li>
    {% endmacro %}

    {% for status, task_list in tasks|groupby('status')  %}
        {% if status == 0 %}
            {% call macros.render_panel_content(h2_title='未开启的任务', use_list=True) %}
                <ul class="list-group">
                    {% for task in task_list  %}
                        {{ render_managed_task(task, status) }}
                    {% endfor %}
                </ul>
            {% endcall %}
        {% elif status == 1 %}
            {% call macros.render_panel_content(h2_title='翻译中的任务', use_list=True) %}
                <ul class="list-group">
                    {% for task in task_list  %}
                        {{ render_managed_task(task, status) }}
                    {% endfor %}
                </ul>
            {% endcall %}
        {% else %}
            {% call macros.render_panel_content(h2_title='已完成的任务', use_list=True) %}
                <ul class="list-group">
                    {% for task in task_list  %}
                        {{ render_managed_task(task, status) }}
                    {% endfor %}
                </ul>
            {% endcall %}
        {% endif %}
    {% else %}
        {% call macros.render_panel_content() %}
            还没有任务<a class="pull-right" href="{{ url_for('group.create_task', group_id=group.id) }}">立即创建</a>
        {% endcall %}
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <a class="bottom-gap btn btn-primary" href="{{ url_for('group.group_home', group_id=group.id) }}">回到：{{ group.group_name }}</a>
{% endblock %}

