@heading-font-size: 12px;
@main-color: #3b5995;
@sub-color: #e9eef6;
//@grey-bg-color: #f9f9f9;
@grey-bg-color: #f6f6f6;
@muted-main-color: lighten(@main-color, 10%);
@common-line-height: 28px;
@base-font-family: 'Microsoft Yahei', "微软雅黑";

@grey-border-color: #e5e5e5;

@green-btn-bg: #239133;
@green-btn-bg-hover: #38a147;

.font-size12{
  font-size: 12px;
}

.clear-fix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.box-shadow(@param){
  -webkit-box-shadow: @param;
     -moz-box-shadow: @param;
          box-shadow: @param;
}