{% extends 'frontend/base/explore_base.html' %}

{% block content %}
    {{ super() }}
    {% call macros.render_panel_content(h2_title='标签', use_list=True, extra_class="panel-explore") %}
        <div class="panel-body">
            <div class="recommend_tag_task_list">
                <div class="tasks">
                {% for tag in tag_tuple %}
                        <a href="{{ url_for('frontend.tag_view', tag=tag) }}" class="task-item"
                             style="background: url({{ url_for('static', filename="images/frontend/tag.jpg") }}) center center;">
                            <div class="tag-label">
                                {{ tag }}
                            </div>
                        </a>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a href="{{ url_for('frontend.explore_tags') }}">
                更多标签 >>
            </a>
        </div>
    {% endcall %}
    {% call macros.render_panel_content(h2_title='主题', use_list=True, extra_class="panel-explore") %}
        <div class="panel-body">
            <ul class="tag_task_list">
                {% for tag, count in task_tags %}
                    <li class="tag_task">
                        <h3>
                            <a href="{{ url_for('frontend.tag_view', tag=tag.tag_name) }}">
                                {{ tag.tag_name }}
                            </a>
                        </h3>
                        <div class="meta">
                            主题数：{{ count }}
                        </div>
                        <div class="tasks">
                            {% for task in tag.tasks() %}
                                <div class="task-item"
                                     {% if task.summery_image_url %}style="background: url({{ task.summery_image_url }}) center center;"{% endif %}>
                                    {% if not task.summery_image_url %}
                                        <div class="task-name">
                                            {{ task.name }}
                                        </div>
                                        <div class="meta">
                                            {{ task.get_creator().nickname }}
                                        </div>
                                        <div class="meta">
                                            {{ task.created_date|delta }}
                                        </div>
                                    {% endif %}
                                    <a href="{{ url_for('task.task_view',task_id=task.id) }}" class="hover">
                                        {{ task.name }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel-footer">
            <a href="{{ url_for('frontend.explore_tasks') }}">更多主题 >></a>
        </div>
    {% endcall %}
    {% call macros.render_panel_content(h2_title='小组', use_list=True, extra_class="panel-explore") %}
        <div class="panel-body">
            <ul class="explore-group-list list-unstyled">
                {% for group, member_count in hot_groups_pagination.object_list %}
                    <li class="group-item {{ 'left' if loop.index % 2 == 1 else '' }}">
                        <div class="clearfix">
                            {% if current_user.is_authenticated() and current_user.joined(group.id) %}
                                <a href="javascript:void(0);" data-group_id="{{ group.id }}"
                                   class="join-group btn btn-success btn-sm pull-right">
                                    <i class="fa fa-minus"></i>
                                <span class="btn-text">
                                    退出小组
                                </span>
                                </a>
                            {% else %}
                                <a href="javascript:void(0);" data-group_id="{{ group.id }}"
                                   class="join-group btn btn-success btn-sm pull-right">
                                    <i class="fa fa-plus"></i>
                                <span class="btn-text">
                                    加入小组
                                </span>
                                </a>
                            {% endif %}
                            <div class="group-avatar pull-left">
                                <img src="{{ group.avatar_url(50) }}" alt=""/>
                            </div>
                            <h3>
                                <a href="{{ url_for('group.group_home', group_id=group.id) }}">
                                    {{ group.group_name }}
                                </a>
                            <span class="group-tags">
                                {% for tag in group.tags %}
                                    <a class="group-tag" href="{{ url_for('frontend.tag_view', tag=tag.tag_name) }}">
                                        <i class="fa fa-tag"></i>
                                        {{ tag.tag_name }}
                                    </a>
                                {% endfor %}

                            </span>
                            </h3>
                        </div>

                        <div class="tasks">
                            {% for task in group.get_tasks(3) %}
                                <div class="task-item"
                                     {% if task.summery_image_url %}style="background: url({{ task.summery_image_url }}) center center;"{% endif %}>
                                    {% if not task.summery_image_url %}
                                        <div class="task-name">
                                            {{ task.name }}
                                        </div>
                                        <div class="meta">
                                            {{ task.get_creator().nickname }}
                                        </div>
                                        <div class="meta">
                                            {{ task.created_date|delta }}
                                        </div>
                                    {% endif %}
                                    <a href="{{ url_for('task.task_view',task_id=task.id) }}" class="hover">
                                        {{ task.name }}
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel-footer">
            <a href="{{ url_for('frontend.explore_groups') }}">更多小组 >></a>
        </div>
    {% endcall %}
{% endblock %}