{% extends 'layout/layout.html' %}

{% block extra_js %}
    <script type="text/javascript">
        seajs.use(['nowdo', '$'], function(nowdo, $){
            $(function(){
                nowdo.trigger.addLikeTrigger('.like-btn');
                nowdo.trigger.addToggleJoinGroupTrigger('.join-group');
                nowdo.trigger.addToggleFollowUserTrigger('.follow-user');
            });
        });
    </script>
{% endblock %}

{% block content %}
    {{ macros.render_task_tag_rel_list(task_tag_rel_pagination.object_list, supported_languages, with_mark_btn=False) }}
    {{ macros.render_pagination(trends_pagination, 'frontend.index') }}
{% endblock %}

{% block sidebar %}

    {% call macros.render_panel_xc('精选标签') %}
        <div class="panel-body">
            {% for tag, task_count in featured_tags %}
                {{ macros.render_tag(tag, active_if=current_tag_name, endpoint=request.endpoint) }}
            {% endfor %}
        </div>
    {% endcall %}

    {% call macros.render_panel_xc('热门小组') %}
        <div class="panel-body">
{#            {{ macros.render_horizontal_group_card_list(hot_groups, current_user=current_user) }}#}
{#            {{ macros.render_group_list(hot_groups, with_join_btn=True) }}#}
            {{ macros.render_big_horizontal_group_card_list(hot_groups) }}
        </div>
    {% endcall %}

    {% call macros.render_panel_xc('最新小组') %}
        <div class="panel-body">
{#            {{ macros.render_horizontal_group_card_list(latest_groups, current_user=current_user) }}#}
{#            {{ macros.render_group_list(latest_groups, with_join_btn=True) }}#}
            {{ macros.render_big_horizontal_group_card_list(lastest_groups) }}
        </div>
    {% endcall %}

    {% call macros.render_panel_xc('活跃用户') %}
        <div class="panel-body">
{#            {{ macros.render_user_list(passionate_users_pagination.object_list, user_id_trends_count_map, horizontal=True, with_follow_btn=True) }}#}
            {{ macros.render_big_horizontal_user_list(passionate_users_pagination.object_list) }}
        </div>
    {% endcall %}
{% endblock %}