{% extends "layout.html" %}
{% block header %}
    <script type="text/javascript" >
        $(function () {
           var LoginModel = Backbone.Model.extend({
			defaults: function () {
				return {
					username: 'varwey',
					password: 'varwey'
				}
			},
			initialize: function () {

			},
			urlRoot: '/login'
            });
            var LoginView = Backbone.View.extend({
                el: "#userlogin",
                initialize: function () {
                    //console.log(this.$el);
                },
                events: {
                    "click #upenter": "upenter"
                },
                upenter: function () {
                    //console.log('this is upenter');
                    //console.log(this.$el.find('.userenter'));
                    var msg = this.$el.find('.userenter');
                    var sendmsg = new LoginModel({username: msg.first().val(), password: msg.last().val()});
                    console.log(JSON.stringify(sendmsg));
                    JSON.stringify(sendmsg.save());
                }
            });
            var loginView =new LoginView();
        });
	</script>
{% endblock %}
{% block body %}
	<h2>Login</h2>
	{% if error %}
		<p class=error><strong>Error:</strong>{{error}}</p>
	{% endif %}
	<div id="userlogin">
	<form action="{{ url_for('login') }}" method=post>
		<dl>
			<dt>Username:
			<dd><input type=text name=username class="userenter">
			<dt>Password:
			<dd><input type=password name=password class="userenter">
			<dd><input type=button value=Login id="upenter">
		</dl>
	</form>
	</div>
{% endblock %}