{% extends "layout.html" %}
{% block header %}
<script type="text/javascript" >
window.Message = Backbone.Model.extend({
	validate: function(attrs) {
		for (var key in attrs) {
			if (attr[key] == '') {
				return key + "不能为空";
			}
		}
	}
});
window.MessageList = Backbone.Collection.extend({
	model: Message,
});
window.MessageView = Backbone.View.extend({
	tagName: 'td',
	template: _.template($('.entries')),
	events: {
		"click #btn": "del",
	},
	initialize: function() {
		this.model.bind('change', this.render, this);
		this.model.bind('destroy', this.remove, this);
	},
	setText: function() {
		var model = this.model;
	},
	render: function() {
		
	},
});
</script>
{% endblock %}
{% block body %}
	{% if session.logged_in %}
		<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
			 <dl>
			 	<dt>Title:
			 	<dd><input type=text size=30 name=title>
			 	<dt>Text:
			 	<dd><textarea name=text rows=5 cols=40></textarea>
			 	<dt>Datetime:
			 	<dd><input type=text name=datetime>
			 	<dd><input type=submit value=Share>
			 </dl>
		</form>
	{% endif %}
	<ul class=entries>
	{% for entry in entries|reverse %}
		<li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
		<footer>{{ entry.datetime|default('none') }}</footer>&nbsp;<button id="btn">del</button>
	{% else %}
		<li><em>Unbelievable.  No entries here so far</em>	
	{% endfor %}
	</ul>
{% endblock %}